.container{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
}
label{
    display: block;
    margin-bottom: 5px;
}
#username{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}
#password{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}